<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>







    <h1>Menu</h1>
    <div class="dropdown">
      <button class="dropbtn">Days</button>
      <div class="dropdown-content">
        <a href="#">Monday</a>

        



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Breakfast</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Lunch</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">4pm</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Super</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>








        <a href="#">Tuesday</a>




        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>
        
        <div id="dialog" title="Basic dialog">
          <select>
            <option value="">Breakfast</option>
            <option value="saab">flour 4kg</option>
            <option value="mercedes">Tea leaves</option>
            <option value="audi"> Sugar 2kg</option>
          </select>
        </div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Lunch</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">4pm</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Super</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>


        
        <a href="#">Wednesday</a>





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Breakfast</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Lunch</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">4pm</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Super</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>




        <a href="#">Thursday</a>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Breakfast</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Lunch</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">4pm</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Super</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>
        <a href="#">Friday</a>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Breakfast</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Lunch</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">4pm</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Super</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>
        <a href="#">Saturday</a>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Breakfast</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Lunch</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">4pm</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Super</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>
        <a href="#">Sunday</a>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Breakfast</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Lunch</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">4pm</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>

<div id="dialog" title="Basic dialog">
  <select>
    <option value="">Super</option>
    <option value="saab">flour 4kg</option>
    <option value="mercedes">Tea leaves</option>
    <option value="audi"> Sugar 2kg</option>
  </select>
</div>
      </div>
    </div>

    <style>





p{
  padding-left: 55%;
  font-weight: bold;

}
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
}
      </style>
      </head>
      <body>
        </style>
    




    <style>
        .dropbtn {
          background-color:#800080;
          color: white;
          padding: 10px;
          font-size: 16px;
          border: none;
          margin-right: 400px;

        }

        .dropdown {
          position: relative;
          display: inline-block;
          margin-left: 470px;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 200px;
          box-shadow: 0px 8px 16px 0px rgba(132,82,122);
          z-index: 1;
        }
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        .dropdown-content a:hover {background-color:white;}
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {background-color: purple;}




        .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted purple;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


        </style>
        </head>

    <style>
        body{
            background-color: rgb(248,246,248);
            /* color: rgb(213, 21, 21); */
        }

        table, th, td {
  border: 1px solid purple;
}
table {
  width: 50%;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
}

        * {
            font-family: 'Raleway', sans-serif;
        }
        body {
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1 {
            text-align: center;
            color: #260818;

        }
        table {
            text-align: center;
            font-size: 20px;
            width: 45%;
            margin: auto;
            margin-top: 3px;
        }
        table tr :nth-child(odd) {
            background: white;
        }
        table tr :nth-child(even) {
            background: #f6faff;
        }
        th,
        td {
            padding: 8px;
            opacity: 0.9;
        }
        #row {
            background-color: #a756a7;
            color: #f3f9fa;
        }
        th {
            background-color: white;
        }
    </style>

<!-- {% block content%}
  {%csrf_token%} -->
  <!-- <table>
      <tr>
          <th id="row">Product Name</th>
          <th id="row">Product Quantity</th>
          <th>Edit</th>
          <th>Delete</th>
  </tr>
      <tr>
  <!-- {  % for menu in Menu % } -->
        <!-- <td>{{menu.name}}</td>
        <td>{{menu.quantity}}</td>
        <td><a href="{% url 'edit_menu 'id = menu.id % }">edit</a></td>
        <td><a href="{% url 'delete_menu 'id = menu.id % }">delete</a></td>
      </tr>
  </table> --> 
<!-- {% endblock %} -->














</body>
</html>













